.profilePic {
  width: 220px;
  height: 220px;
  border-radius: 110px;
  background: url("../images/profile.png");
  box-shadow: 6px 6px 6px #222;
  margin: 20px;
  float: left;
}
.profileText {
  background: rgba(255,255,255,0.8);
  border-radius: 20px;
  padding: 20px;
  *zoom: 1;
  width: auto;
  max-width: 800px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.profileText:before,
.profileText:after {
  content: '';
  display: table;
}
.profileText:after {
  clear: both;
}

html {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-image: url("../images/mountains.jpg"), url("../images/bgsnow.jpg");
  background-repeat: no-repeat, repeat;
  background-size: length auto;
}
* {
  box-sizing: inherit;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}
body {
  height: 100%;
  margin: 0;
  color: #3a3a3a;
}
body h1 {
  color: #333;
  font-size: 220%;
}
body h1,
body h2,
body h3,
body h4 {
  color: #333;
}
.funny {
  font-size: 80%;
  *zoom: 1;
  width: auto;
  max-width: 1440px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  display: none;
  max-width: 600px;
  text-align: center;
}
.funny:before,
.funny:after {
  content: '';
  display: table;
}
.funny:after {
  clear: both;
}
.funny img {
  *zoom: 1;
  width: auto;
  max-width: 1440px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  max-width: 100%;
}
.funny img:before,
.funny img:after {
  content: '';
  display: table;
}
.funny img:after {
  clear: both;
}
.funny div {
  border-radius: 10px;
  padding: 5px;
  background: rgba(255,255,255,0.8);
  *zoom: 1;
  width: auto;
  max-width: 1440px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  width: 50%;
}
.funny div:before,
.funny div:after {
  content: '';
  display: table;
}
.funny div:after {
  clear: both;
}
.lightbox {
  position: fixed;
  display: none;
  z-index: 999;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.9);
}
.lightbox img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  max-width: 95%;
  max-height: 80%;
}
.lightbox:target {
  outline: none;
  display: block;
}
.master {
  *zoom: 1;
  width: auto;
  max-width: 1440px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  z-index: 1;
  margin-top: 20px;
  padding: 0px 20px 20px 20px;
  border-radius: 10px;
  background: rgba(255,255,255,0.8);
}
.master:before,
.master:after {
  content: '';
  display: table;
}
.master:after {
  clear: both;
}
.mainHeader {
  width: 100%;
  margin: 0;
}
.mainHeader .topbar {
  margin: 0;
  height: 40px;
  width: 100%;
  background: #222;
  border-bottom: 2px solid #000;
}
.mainHeader .topbar .title {
  border: none;
  text-decoration: none;
  color: initial;
}
.mainHeader .topbar .title:hover {
  border: none;
  text-decoration: none;
  color: initial;
}
.mainHeader .topbar .title:visited {
  opacity: 1;
}
.mainHeader .topbar .title h1:hover {
  color: #808080;
}
.mainHeader .topbar h1 {
  font-style: italic;
  color: #535353;
  text-shadow: 1px 1px 0 rgba(24,24,24,0.6), -1px -1px 1px rgba(0,0,0,0.67);
  margin: 0 0;
  position: relative;
  top: -2px;
}
.mainHeader .menu {
  margin-top: 20px;
  border-radius: 20px;
  *zoom: 1;
  width: auto;
  max-width: 1440px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  width: 600px;
  height: 80px;
  border: 4px solid #222;
}
.mainHeader .menu:before,
.mainHeader .menu:after {
  content: '';
  display: table;
}
.mainHeader .menu:after {
  clear: both;
}
.mainHeader .menu .menuItem {
  display: block;
  border: none;
  text-decoration: none;
  color: initial;
  color: #fff;
  text-decoration: none;
  transition: all .3s ease;
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 33.3333333333333%;
  margin-left: 0%;
  margin-right: 0%;
  padding: 29px;
  text-align: center;
  border-right: 2px solid #50739a;
  background: rgba(91,128,169,0.8);
  background-image: url("../images/s1.png"), url("../images/s2.png"), url("../images/s3.png");
  font-weight: bold;
}
.mainHeader .menu .menuItem:hover {
  border: none;
  text-decoration: none;
  color: initial;
}
.mainHeader .menu .menuItem:visited {
  opacity: 1;
}
.mainHeader .menu .menuItem:visited {
  opacity: 0.8;
}
.mainHeader .menu .menuItem:before,
.mainHeader .menu .menuItem:after {
  content: '';
  display: table;
}
.mainHeader .menu .menuItem:after {
  clear: both;
}
.mainHeader .menu .menuItem:hover {
  background: rgba(124,153,186,0.8);
  background-image: url("../images/s1.png"), url("../images/s2.png"), url("../images/s3.png");
  -webkit-animation: #fffafa 20s linear infinite;
  -ms-animation: #fffafa 20s linear infinite;
  animation: #fffafa 20s linear infinite;
  border-right: 2px solid #222;
}
.mainHeader .menu .menuItem:first-child {
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
}
.mainHeader .menu .menuItem:last-child {
  border-right: none;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
}
h2 {
  width: 180px;
  margin: 20px auto;
  border-radius: 10px;
  padding: 10px;
  background: rgba(255,255,255,0.8);
}
button {
  margin: 10px;
  font-size: 13px;
  padding: 10px 22px;
  border-radius: 3px;
  background-color: #2ecc40;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
  line-height: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
}
button:hover,
button:focus {
  background-color: #2cc23d;
  color: #f7f7f7;
}
button:active {
  background-color: #29b83a;
}

.snow {
  -webkit-animation: snow 20s linear infinite;
          animation: snow 20s linear infinite;
}

@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}

@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}

.smiley {
  float: left;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-top: 2px;
  margin-right: 20px;
  background: #d3d3d3;
  border: 3px solid #949494;
  position: relative;
}
.smiley .left-eye {
  width: 18%;
  height: 18%;
  background: #7f7f7f;
  position: relative;
  top: 29%;
  left: 22%;
  border-radius: 50%;
  float: left;
}
.smiley .right-eye {
  width: 18%;
  height: 18%;
  border-radius: 50%;
  position: relative;
  background: #7f7f7f;
  top: 29%;
  right: 22%;
  float: right;
}
.smiley .smile {
  position: absolute;
  top: 67%;
  left: 16.5%;
  width: 70%;
  height: 50%;
  overflow: hidden;
}
.smiley .smile:after,
.smiley .smile:before {
  content: "";
  position: absolute;
  top: -50%;
  left: 0%;
  border-radius: 50%;
  background: #7f7f7f;
  height: 100%;
  width: 97%;
}
.smiley .smile:after {
  background: #7f7f7f;
  height: 80%;
  top: -40%;
  left: 0%;
}

