<?php require_once $_SERVER['DOCUMENT_ROOT'] . '/php/loginValid.php';?><!DOCTYPE html>
<html>
  <head>
    <title>Jolley's Site</title>
    <script>document.write("<base href='http://" + document.location.host + "' />");</script>
    <link rel="stylesheet" href="css/main.css">
    <script src="js/all.js"></script>
  </head>
  <body ng-app="arctic">
    <header class="mainHeader">
      <div class="topbar">
        <section id="wrapper"></section>
        <div class="smiley floatleft">
          <div class="left-eye"></div>
          <div class="right-eye"></div>
          <div class="smile"></div>
        </div>
        <button id="displayPlayersBtn" onclick="displayPlayersAjax();">Display Players From Database</button><a href="/" class="title">
          <h3><?php echo $_SESSION['name']?>, alone in the Arctic Winter</h3></a>
      </div>
    </header>
    <div ng-controller="displayFood" class="arcticMaster snow5">
      <div class="buttons-display">
        <div class="buttons">
          <button id="gatherBtn" ng-click="gather(); canGather=false;" title="-2 Food, -5 Water" ng-disabled="!canGather">Gather</button>
          <progress id="gatherProgress" value="{{gatherProgress}}" max="600"></progress>
          <button id="lightFireBtn" ng-click="lightFire()" title="-1 Tinder, -5 Sticks">Light Fire  </button><br>
          <button id="huntBtn" onclick="hunt()" class="hidden"></button>
          <progress id="huntProgress" class="hidden"></progress>
          <button id="warmUpBtn" onclick="warmUp()" class="hidden"></button>
          <progress id="warmUpProgress" class="hidden"></progress>
          <button id="plantBtn" onclick="plant()" class="hidden"></button>
          <progress id="plantProgress" class="hidden"></progress>
        </div>
        <div class="display">
          <div class="food">Food: {{food}}</div>
          <div class="sticks">Sticks: {{sticks}}</div>
          <div class="seeds">Seeds: {{seeds}}</div>
          <div class="leather">Leather: {{leather}}</div>
          <div class="tinder">Tinder: {{tinder}}</div>
          <div class="water">Water: {{water}}</div>
        </div>
      </div>
      <div class="console"></div>
      <div class="userBar">
        <div class="warmth">
          <label>Warmth: </label>
          <progress value="{{warmth}}" max="{{maxWamrth}}" class="warmthProgress"></progress>
        </div>
        <div class="hunger"> 
          <label>Hunger:</label>
          <progress value="{{hunger}}" max="{{maxHunger}}" class="hungerProgress"></progress>
        </div>
        <div class="hp"> 
          <label>HP:</label>
          <progress value="{{hp}}" max="{{maxHp}}" class="hpProgress"></progress>
        </div>
      </div>
    </div>
  </body>
</html>